@media (min-width: 769px) {
  .jumbotron {
    background-image: url(../images/jumbotron_bg.png);
    background-size: cover;
    text-align: right;
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 769px) {
  .jumbotron {
    background-image:url(../images/jumbotron_bg_sm.png);
    background-size: cover;
    text-align: left;
    color: rgb(255, 255, 255);
  }
}

address {
  display: block;
  font-style: italic;
}

body
{
  padding-bottom: 10px;
}

map-container{
overflow:hidden;
padding-bottom:10%;
position:relative;
height:0;
}

map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

div.row {
  flex-grow: 1;
}
