body {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 769px) {
  .jumbotron {
    background-image: url(../images/jumbotron_bg.png);
    background-size: cover;
    text-align: right;
    border-radius: 0px;
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 769px) {
  .display-2 {
    font-size: 40px;
  }
  .jumbotron {
    background-image:url(../images/jumbotron_bg_sm.png);
    background-size: cover;
    text-align: left;
    border-radius: 0px;
    color: rgb(255, 255, 255);
  }
}

address {
  display: block;
  font-style: italic;
}

map-container{
overflow:hidden;
padding-bottom:10%;
position:relative;
height:0;
}

map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

div.row {
  flex-grow: 1;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
  text-decoration: none;
}

/* adjusments for element layout in the footer */
ul.footer {
  margin: 0px;
}

p.footer {
  margin: 0px;
}

a.footer-link {
  color: inherit;
}

a.footer-link:hover {
  color: #28a745;
  text-decoration: none;
}

div.footer {
  font-size: 14px;
}

/* change button styles in header */
button.register-btn {
  color: #28a745;
}

button.register-btn:hover {
  text-decoration: underline;
  color: #28a745;
}

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 15px;
  background: #28a745;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #28a745;
}

/* Set a style for the submit button */
.register-button {
  background-color: #28a745;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.register-button:hover {
  background-color: #28a745;
  color: white;
  opacity: 1;
}

.send-message-button {
  background-color: #28a745;
  color: white;
  opacity: 0.9;
}

.send-message-button:hover {
  background-color: #28a745;
  color: white;
  opacity: 1;
}

a:hover {
  text-decoration: none;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  margin: 10px;
  width: 260px;
  height: 310px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  font-family: arial;
  font-size: 16px;
}

/* Style the back side */
.flip-card-back {
  background-color: #28a745;
  color: white;
  font-family: arial;
  font-size: 16px;
  transform: rotateY(180deg);
}

/* link in text formatting */
a.cookies {
  color: #28a745;
}
 /* link in text formatting */
a.cookies:hover {
  text-decoration: underline;
}
